
body {
  margin: 0;
  padding: 0;
}
.sign-in-container {
  width: 600px;
  height: 700px;
  border: 3px solid gray;
  margin: auto;
  position: relative;
}

.sign-in-container img {
  width: 200px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
}
.sign-in-input-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}
.sign-in-input-container label {
  margin: 20px;
}
.sign-in-input-container input {
  width: 258px;
  height: 36px;
  background-color: #fafafa;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(128, 128, 128, 0.5);
  padding-left: 5px;
  outline: none;
}
.sign-in-container .sign-in-button {
  width: 270px;
  height: 36px;
  background-color: #77a7ff;
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
hr {
  border: none;
  border-bottom: 2px solid rgb(219, 219, 219);
  position: absolute;
  bottom: 13%;
  width: 300px;
  left: 50%;
  transform: translate(-50%);
}

.sign-in-container .go-to-sign-up {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.go-to-sign-up h4 a{
    color: #77a7ff;
    text-decoration: none;
}
